<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Fulfilment APIs-->
    <add key="Api.Email.BaseUrl" value="http://200.badapi.net"/>
    <add key="Api.Sms.BaseUrl" value="http://transient.badapi.net"/>
    <add key="Api.Twitter.BaseUrl" value="http://permanent.badapi.net"/>
    <!-- Queue config -->
    <add key="Queues.Fulfilment.Address" value="tcp://127.0.0.1:5555" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>